@import '../config/reset';
@import '../config/variable';
@import '../config/mixin';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  #profile-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    #profile-picture {
      border-radius: 10px;
      height: 100%;
    }
  }

  h1 {
    font-family: "Playwrite VN", serif;
  }
}