@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: none;
  background: none;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-content svg {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body #header-container {
  border-bottom: 2px solid;
}
body #header-container #theme-button {
  border: 2px solid;
  border-radius: 50px;
}
body h2 {
  text-align: center;
}

@media screen and (min-width: 320px) {
  #header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.2rem;
    position: relative;
  }
  #header-container #theme-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    order: 1;
    padding: 0.2rem;
  }
  #header-container #theme-button .icon-content {
    width: 90%;
    height: 90%;
  }
  #header-container #navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    border-right: 2px solid;
    transition: width ease 0.5s;
    overflow: hidden;
  }
  #header-container #navbar-container.close {
    width: 0;
    border: none;
  }
  #header-container #navbar-container #close-button {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
  }
  #header-container #navbar-container #navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  #header-container #navbar-container #navbar button {
    padding: 0.5rem;
  }
  #header-container #navbar-container #navbar button:before {
    content: "";
    transition: all ease 0.5s;
    position: absolute;
    bottom: 0.1rem;
    width: 100%;
    height: 0.2rem;
  }
  #header-container #navbar-container #navbar button .icon-content {
    width: 2rem;
    height: 2rem;
  }
  #header-container #navbar-container #navbar button .link-value {
    font-weight: bold;
  }
  #header-container #navbar-container #navbar button .link-value:first-letter {
    text-transform: uppercase;
  }
  #header-container #hamburger-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 4rem;
    border: 2px solid;
    border-radius: 0.5rem;
  }
  #header-container #hamburger-button .icon-content {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  #header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
  }
  #header-container #theme-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    order: 2;
    width: 6rem;
    height: auto;
    padding: 0.2rem;
    cursor: pointer;
    transition: all ease 0.5s;
  }
  #header-container #theme-button.active {
    display: flex;
    flex-direction: row-reverse;
  }
  #header-container #theme-button .icon-content {
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    padding: 0.2rem;
    transition: all ease 0.5s;
  }
  #header-container #navbar-container {
    position: relative;
    width: 80%;
    height: auto;
    border: none;
  }
  #header-container #navbar-container.close {
    width: 100%;
  }
  #header-container #navbar-container #close-button {
    display: none;
  }
  #header-container #navbar-container #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: none;
  }
  #header-container #navbar-container #navbar button {
    position: relative;
    position: relative;
    z-index: 0;
    padding: 0.5rem;
    border-radius: 5px;
  }
  #header-container #navbar-container #navbar button:before, #header-container #navbar-container #navbar button:after {
    content: "";
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }
  #header-container #navbar-container #navbar button:after {
    height: 100%;
    width: 0;
    z-index: -1;
  }
  #header-container #navbar-container #navbar button:before {
    width: 100%;
    height: 0.2rem;
    bottom: 0;
  }
  #header-container #navbar-container #navbar button:hover:before {
    width: 0;
  }
  #header-container #navbar-container #navbar button:hover:after {
    width: 100%;
  }
  #header-container #navbar-container #navbar button.active {
    position: relative;
  }
  #header-container #navbar-container #navbar button.active:before {
    width: 0;
  }
  #header-container #navbar-container #navbar button.active:after {
    width: 100%;
    height: 100%;
  }
  #header-container #navbar-container #navbar button.active:hover:before {
    width: 100%;
  }
  #header-container #navbar-container #navbar button.active:hover:after {
    width: 0;
  }
  #header-container #navbar-container #navbar button .icon-content {
    width: 2rem;
    height: 2rem;
  }
  #header-container #navbar-container #navbar button .link-value {
    font-weight: bold;
  }
  #header-container #navbar-container #navbar button .link-value:first-letter {
    text-transform: uppercase;
  }
  #header-container #hamburger-button {
    display: none;
  }
}
@media screen and (min-width: 320px) {
  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  #presentation #presentation-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.2rem;
  }
  #presentation #presentation-title img {
    height: 6rem;
    border-radius: 10px;
  }
  #presentation #presentation-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    text-align: center;
    padding: 0 0.5rem;
  }
  #presentation #presentation-text p:first-letter {
    text-transform: uppercase;
  }
  #presentation #presentation-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
  }
  #presentation #presentation-info .information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  #presentation #presentation-info .information a {
    position: relative;
    padding-bottom: 0.3rem;
  }
  #presentation #presentation-info .information a:before, #presentation #presentation-info .information a:after {
    content: "";
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }
  #presentation #presentation-info .information a:after {
    height: 100%;
    width: 0;
    z-index: -1;
  }
  #presentation #presentation-info .information a:before {
    width: 100%;
    height: 0.2rem;
    bottom: 0;
  }
  #presentation #presentation-info .information a:hover:before {
    width: 0;
  }
  #presentation #presentation-info .information a:hover:after {
    width: 100%;
  }
  #presentation #presentation-info .information .info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  #presentation #presentation-info .information .info-content .label:after {
    content: ":";
    margin-left: 0.2rem;
  }
  #presentation #presentation-info .information .info-content .icon-content {
    width: 2rem;
    height: 2rem;
  }
  #presentation #presentation-info .information#lien {
    margin-top: 0.6rem;
  }
}
@media screen and (min-width: 1280px) {
  #presentation p, #presentation a {
    font-size: 1.5rem;
  }
  #presentation #presentation-title {
    width: 40%;
  }
  #presentation #presentation-info {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  #presentation #presentation-info .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  #presentation #presentation-info .information a {
    padding: 0.5rem;
  }
  #presentation #presentation-info .information#lien {
    margin: 0;
  }
}
@media screen and (min-width: 320px) {
  #diploma {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #diploma #timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    height: 100%;
  }
  #diploma #timeline:before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 80%;
    left: 1.6rem;
    transform: translate(-50%);
    border: 4px solid;
    z-index: -1;
  }
  #diploma #timeline .diploma-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #diploma #timeline .diploma-card .date {
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    padding: 0.5rem;
    margin-right: 1rem;
  }
  #diploma #timeline .diploma-card .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 0.2rem;
  }
  #diploma #timeline .diploma-card .card-content .icon-content {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: -1rem;
    z-index: -1;
  }
  #diploma #timeline .diploma-card .card-content .diploma-name {
    padding: 0.5rem;
    border-radius: 10px;
  }
  #diploma #timeline .diploma-card .card-content .diploma-name p {
    text-align: center;
  }
  #diploma #timeline .diploma-card .card-content .diploma-name .diploma-title {
    font-weight: bold;
  }
}
@media screen and (min-width: 320px) {
  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills #language-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  #skills #language-container .techno {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills #language-container .techno .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
  }
  #skills #language-container .techno .cards-container .skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid;
    border-radius: 5px;
    width: 8rem;
    height: 9rem;
    padding: 0.5rem;
  }
  #skills #language-container .techno .cards-container .skill-card .skill-title {
    text-transform: uppercase;
    font-weight: bold;
  }
  #skills #language-container .techno .cards-container .skill-card .skill-icon svg {
    width: 2.5rem;
    height: 100%;
  }
  #skills #language-container .techno .cards-container .skill-card .skill-icon.small-icon svg {
    width: 3.5rem;
  }
  #skills #language-container .techno .cards-container .skill-card .percent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }
  #skills #language-container .techno .cards-container .skill-card .percent .percent-value:before {
    content: "~ ";
  }
  #skills #language-container .techno .cards-container .skill-card .percent .percent-value:after {
    content: "%";
  }
  #skills #language-container .techno .cards-container .skill-card .percent .percent-bar {
    display: block;
    width: 100%;
    height: 0.6rem;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 2px solid;
  }
  #skills #language-container .techno .cards-container .skill-card .percent .percent-bar:before {
    transition: width ease 0.5s;
    content: "";
    position: absolute;
    height: 100%;
    width: var(--percent);
  }
}
@media screen and (min-width: 1280px) {
  #skills #language-container .techno {
    width: 50%;
    height: 100%;
  }
  #skills #language-container .techno h3 {
    font-size: 2rem;
  }
  #skills #language-container .techno .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
  }
  #skills #language-container .techno .skill-card {
    width: 5rem;
  }
}
@media screen and (min-width: 320px) {
  #projects {
    display: flex;
    flex-direction: column;
  }
  #projects nav {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    margin-top: 0.5rem;
  }
  #projects nav .project-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    position: relative;
    width: 90%;
    padding: 0.2rem 0;
    border: 2px solid;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
  }
  #projects nav .project-btn p:first-letter {
    text-transform: uppercase;
  }
  #projects nav .project-btn .project-number:before {
    content: "[";
    margin-right: 0.1rem;
  }
  #projects nav .project-btn .project-number:after {
    content: "]";
    margin-left: 0.1rem;
  }
  #projects .projects-content {
    display: flex;
    flex-direction: column;
  }
  #projects .projects-content .project-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 40rem;
    width: 100%;
    overflow: scroll;
    transition: height ease 0.5s;
  }
  #projects .projects-content .project-container::-webkit-scrollbar {
    width: 0.2rem;
    border-radius: 50px;
  }
  #projects .projects-content .project-container::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 50px;
  }
  #projects .projects-content .project-container.hidden {
    width: 0;
    height: 0;
  }
  #projects .projects-content .project-container .project-card {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-left: none;
    border-right: none;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
  }
  #projects .projects-content .project-container .project-card .info-container {
    display: flex;
    flex-direction: column-reverse;
  }
  #projects .projects-content .project-container .project-card .info-container .image-content {
    width: 100%;
  }
  #projects .projects-content .project-container .project-card .info-container .image-content img {
    width: 100%;
    height: 100%;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info {
    display: flex;
    flex-direction: column;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link ul, #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content {
    width: 50%;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 0.5rem;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link ul li {
    display: flex;
    align-items: center;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link ul li:before {
    content: "•";
    margin-right: 0.2rem;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content a {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding-bottom: 0.2rem;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.1rem;
    bottom: 0;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content a .icon-content {
    width: 1.2rem;
  }
  #projects .projects-content .project-container .project-card .description-content {
    overflow: auto;
    max-height: 17rem;
    padding: 0 0.1rem;
  }
  #projects .projects-content .project-container .project-card .description-content::-webkit-scrollbar {
    width: 0.2rem;
    border-radius: 50px;
  }
  #projects .projects-content .project-container .project-card .description-content::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 50px;
  }
  #projects .projects-content .project-container .project-card .description-content .description {
    text-align: justify;
  }
}
@media screen and (min-width: 1280px) {
  #projects nav .project-btn {
    cursor: pointer;
  }
  #projects nav .project-btn:before {
    content: "";
    height: 0;
    transition: height ease 0.5s;
    z-index: -1;
  }
  #projects nav .project-btn:hover:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #projects nav .project-btn.active:before {
    content: "";
    position: absolute;
    transition: height ease 0.5s;
    top: 0;
    width: 100%;
    height: 100%;
  }
  #projects nav .project-btn.active:hover:before {
    height: 0;
  }
  #projects .projects-content .project-container {
    height: 50rem;
  }
  #projects .projects-content .project-container .project-card .info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #projects .projects-content .project-container .project-card .info-container .image-content {
    width: 25%;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info {
    width: 25%;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .title-content {
    display: flex;
    flex-direction: column;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link ul {
    display: flex;
    flex-direction: column;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content a:before {
    transition: all ease 0.5s;
  }
  #projects .projects-content .project-container .project-card .info-container .title-and-info .tech-and-link .link-content a:hover:before {
    z-index: -1;
    height: 100%;
  }
  #projects .projects-content .project-container .project-card .description-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 320px) {
  #objective {
    height: 98%;
  }
  #objective .objective-content {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    height: 100%;
  }
  #objective .objective-content .objective-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #objective .objective-content .objective-section#improve {
    height: 25%;
  }
  #objective .objective-content .objective-section .objective-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #objective .objective-content .objective-section .objective-card-content .objective-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    width: 20%;
    padding: 0.5rem;
  }
  #objective .objective-content .objective-section .objective-card-content .objective-card .icon-content {
    width: 50%;
  }
  #objective .objective-content .objective-section .objective-card-content .objective-card p {
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  #objective .objective-content {
    display: flex;
    flex-direction: row;
  }
  #objective .objective-content .objective-section {
    width: 50%;
  }
  #objective .objective-content .objective-section#improve {
    height: 100%;
  }
  #objective .objective-content .objective-card-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #objective .objective-content .objective-card-content .objective-card {
    height: 20%;
  }
}
@media screen and (min-width: 320px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 2px solid;
    padding: 0.5rem 0;
  }
  footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    position: relative;
  }
  footer a:before, footer a:after {
    content: "";
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }
  footer a:after {
    height: 100%;
    width: 0;
    z-index: -1;
  }
  footer a:before {
    width: 100%;
    height: 0.2rem;
    bottom: 0;
  }
  footer a:hover:before {
    width: 0;
  }
  footer a:hover:after {
    width: 100%;
  }
  footer a .icon-content {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 2px solid;
    padding: 0.5rem 0;
  }
  footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    position: relative;
  }
  footer a:before, footer a:after {
    content: "";
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }
  footer a:after {
    height: 100%;
    width: 0;
    z-index: -1;
  }
  footer a:before {
    width: 100%;
    height: 0.2rem;
    bottom: 0;
  }
  footer a:hover:before {
    width: 0;
  }
  footer a:hover:after {
    width: 100%;
  }
  footer a .icon-content {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 320px) {
  body a, body button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
  }
  body main {
    @incldue flex(column, none, none, none);
    overflow: hidden;
    height: 100%;
  }
  body main::-webkit-scrollbar {
    width: 0.2rem;
    border-radius: 50px;
  }
  body main::-webkit-scrollbar-thumb {
    width: 100%;
    border-radius: 50px;
  }
  body main .title-section {
    font-family: "Playwrite VN", serif;
  }
}
.portfolio-section {
  height: 100%;
  transition: height ease 0.5s;
}
.portfolio-section.hidden {
  height: 0;
  width: 0;
  transform: scale(0);
  overflow: hidden;
}

body.dark {
  background: #171717;
  color: #e3e3e3;
}
body.dark a, body.dark svg, body.dark button {
  color: #e3e3e3;
  fill: #e3e3e3;
}
body.dark a:before, body.dark a:after {
  background: #8d0fde;
}
body.dark #header-container {
  border-color: #e3e3e3;
}
body.dark #header-container #theme-button {
  border-color: #8d0fde;
}
body.dark #header-container #theme-button:hover {
  box-shadow: 2px 2px 2px #8d0fde;
}
body.dark #header-container #theme-button:hover .icon-content {
  background: #8d0fde;
}
body.dark #header-container #theme-button svg {
  fill: #e3e3e3;
}
body.dark #header-container #theme-button svg#light-icon {
  display: none;
}
body.dark #header-container #navbar-container #close-button {
  fill: #e3e3e3;
}
body.dark #header-container #navbar-container #navbar {
  background: #171717;
}
body.dark #header-container #navbar-container #navbar button:before, body.dark #header-container #navbar-container #navbar button:after {
  background: #8d0fde;
}
body.dark #header-container #navbar-container #navbar button.active:after {
  border-color: #e3e3e3;
}
body.dark #header-container #hamburger-button {
  border-color: #8d0fde;
}
body.dark #header-container #hamburger-button svg {
  fill: #8d0fde;
}
body.dark main::-webkit-scrollbar {
  background: #e3e3e3;
}
body.dark main::-webkit-scrollbar-thumb {
  background: #8d0fde;
}
body.dark main #diploma #timeline:before {
  background: #8d0fde;
}
body.dark main #diploma #timeline .date {
  background: #171717;
}
body.dark main #diploma #timeline .card-content .icon-content svg {
  fill: #8d0fde;
}
body.dark main #diploma #timeline .card-content .diploma-name {
  background: #8d0fde;
}
body.dark main .percent-bar:before {
  background: #8d0fde;
}
body.dark main #projects nav .project-btn {
  color: #e3e3e3;
  border-color: #e3e3e3;
}
body.dark main #projects nav .project-btn:before {
  background: #8d0fde;
}
body.dark main #projects .project-container::-webkit-scrollbar {
  background: #e3e3e3;
}
body.dark main #projects .project-container::-webkit-scrollbar-thumb {
  background: #8d0fde;
}
body.dark main #projects .project-card {
  background: #171717;
}
body.dark main #projects .description-content::-webkit-scrollbar {
  background: #e3e3e3;
}
body.dark main #projects .description-content::-webkit-scrollbar-thumb {
  background: #8d0fde;
}
body.dark footer {
  border-color: #e3e3e3;
}
body.dark footer a {
  padding: 0.5rem;
}
body.dark footer a:before, body.dark footer a:after {
  background: #8d0fde;
}

/*# sourceMappingURL=index.css.map */
