// color light-theme
$background-light : #f5f5f5;
$color-light : #333333;
$accent-light : #007bff;//#c667e4

//color dark-theme
$background-dark : #171717;
$color-dark : #e3e3e3;
$accent-dark : #7296ad; //#c667e4

//font
@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&display=swap');
